.landingPage{
    background-repeat: round;
    background-image: url("../ImageFolder/background.png");
    min-height: 100vh;
}
.title{
    font-size: 70px;
    color: #9dcde8;
}
.machineContainer{
    display: flex;
    justify-content: center;
}
.footerText{
    color:white;
    font-size: 30px;
    padding-top: 30px;
}
.callToAction{
    padding-top: 50px;
    color:white;
}
.percentage{
    font-size: 30px;
    width: 280px;
    padding-top: 120px;
    color:white;
}
.machineCapture{
    width: 350px;
    height: 350px;
    padding-bottom: 20px;
}
.progressBar{
    padding-top: 50px;
    width: 700px;
    height: 40px;
}
.imgLogo{
    width: 380px;
}
.logo{
    padding-top: 40px;
    width: 300px;
}
.value{
    justify-content: center;
    display: flex;
    font-size: 80px;
}